body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#help {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra il div */
    background-color: rgba(51, 51, 51, 0.8); /* Sfondo semi-trasparente */
    z-index: 5;
    color: white; /* Colore del testo */
    padding: 20px; /* Spazio interno */
    border-radius: 10px; /* Bordi arrotondati */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombra */
    width: 400px; /* Larghezza fissa */
    text-align: center; /* Testo centrato */
    font-family: 'Arial', sans-serif;
}

#help p {
    margin: 10px 0;
    line-height: 1.6;
}

#closeHelp {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c; /* Colore rosso per il pulsante */
    color: white;
    border: none;
    border-radius: 5px; /* Pulsante arrotondato */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#closeHelp:hover {
    background-color: #c0392b; /* Colore al passaggio del mouse */
}

#container {
    position: absolute;
    display: inline-block;
    border-collapse: collapse;
    background-color: #333333;
    z-index: 1;
}

#shadowTable {
    border: red solid 2px;
    position: absolute;
    display: table;
    width: auto;
    height: auto;
    border-collapse: collapse;
    background-color: #333333;
    z-index: 2;
}

td {
    border: black solid 1px;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: white;
    background-color: #333333;
    overflow: hidden;
}

svg{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

rect{
    fill:blue;
    stroke:black;
    stroke-width:2;
    fill-opacity:0.1;
    stroke-opacity:1;
}

#menu{
    font-weight: bold;
    display: flex;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    position: fixed;
    background-color: #333333;
    color: white;
    left: 10px;
    top: 5px;
    z-index: 4;
}

#speed{
    font-weight: bold;
    display: flex;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    position: fixed;
    background-color: #333333;
    color: white;
    right: 10px;
    top: 5px;
    z-index: 4;
}

#copyMenu {
    position: absolute;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.1);
    border: white 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 7px;
    width: 70px;
    font-family: 'Arial', sans-serif;
}

#copyMenu button {
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    transition: ease-in-out 0.1s;
}

#copyMenu button:hover {
    transform: scale(1.05);
}

#deleteBtn{
    background-color: red;
}

#copyBtn{
    background-color: #0056b3;
}

#cancelBtn{
    background-color: #818181;
}
