body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    position: absolute;
    display: table;
    border-collapse: collapse;
    background-color: #333333;
    z-index: 1;
}

#shadowTable {
    border: red solid 2px;
    position: absolute;
    display: table;
    width: auto;
    height: auto;
    border-collapse: collapse;
    background-color: #333333;
    z-index: 2;
}

td {
    border: black solid 1px;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: white;
    background-color: #333333;
    overflow: hidden;
}

svg{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 2;
}

rect{
    fill:blue;
    stroke:black;
    stroke-width:2;
    fill-opacity:0.1;
    stroke-opacity:1;
}

#menu{
    font-weight: bold;
    display: flex;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    position: absolute;
    background-color: #333333;
    color: white;
    right: 10px;
    top: 50px;
    z-index: 4;
}

#speed{
    font-weight: bold;
    display: flex;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    position: absolute;
    background-color: #333333;
    color: white;
    right: 10px;
    z-index: 4;
}

#copyMenu{
    position: absolute;
    z-index: 4;
}